<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
	<test name="Galaxy m30">
		<parameter name="emulator" value="true" />
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="replace_with_device_udid" />
		<parameter name="deviceName" value="Galaxy m30" />
		<parameter name="systemPort" value="10000" />
		<parameter name="chromeDriverPort" value="11000" />
		<classes>
			<class name="PageObjectModel.AppiumFramework.test.TC_001_DeviceSearchandA2C"></class>
		</classes>
	</test>
	
</suite> <!-- Suite -->
